body {
    text-align: center;
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 40px;
}

h2, h3 {
    font-size: 35px;
}

header{
    display: flex;
    flex-basis: 100%;
    padding-left: 1.2em;
    border-radius: 30px;
}
header a {
            color: #FF4C4C;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
        }
header nav ul {
            display: flex;
	    margin-left: 150px;
	    margin-top: 40px;
            column-gap: 30px;
            list-style-type: none;
            justify-content: center;
	    font-size: 25px;
	    font-weight:bold;
	    color: #00B2FF;
        }
header nav {
	    display: flex;
	    justify-content: center;
}
a, .page {
    font-size: 25px;
}

a {
    color: #FF4C4C;
}

a:hover {
    color: #00B2FF;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    border: 3px #FF4C4C solid;
    padding: 5px;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	margin-right: 15px;
}


.jogo {
    width: calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;

}

h3 {
    font-size: 20px;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    h2, h3 {
        font-size: 30px;
    }

    a, .page {
        font-size: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 10%;
        padding: 5px;
    }

    .linha {
        flex-direction: column;
    }

    .jogo {
        width: 100%;
    }

    h3 {
        font-size: 18px;
    }
}
